<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MOVIE APP</title>
    <link rel="stylesheet" href="styles.css" media="screen" title="no title" charset="utf-8">
    <script type="html/template" id="movieTmpl">
    <article class="movies">
      <%= movieTitle %>
      <%= year %>
      <%= imageUrl %>
      <%= plot %>
      <%= rating %>
    </article>
    </script>

  </head>
  <body>
    <header><h1>THE IMDB MOVIE APP</h1></header>
      <section class="main enterMovie">

                 <input type="text" name="title" value="" placeholder="Movie Title">
                 <input type="text" name="year" value="" placeholder="Year Released">
                 <input type="text" name="imageUrl" value="" placeholder="Cover Picture">
                 <input type="text" name="plot" value="" placeholder="Plot">
                 <input type="text" name="rating" value="" placeholder="Rating">
                 <button type="button" class="aMovie" name="button" placeholder="New Movie">New Movie</button>

              <article class="movies"><p>sddc</p></article>


      </section>

      <aside>
              <p>sddc</p>


      </aside>

  <script src="bundle.js" charset="utf-8"></script>
  </body>
</html>
