body{
  font-family: sans-serif;
}
section{
  background-color: yellow;
  width: 68%;
  display: inline-block;
}
aside{
  background-color: blue;
  width: 29%;
  display: inline-block;
}
h1{
  margin: 0 auto;
  font-size: 56px;
}
